The functions should be called to prepare your data (as opposed to re-writing the code of the functions in your notebook), and you should include in a markdown cell, a verbal explanation of the steps you took to prepare the data and why you made those decisions.

Wrangle

Acquired data

Create dummy vars

Split data

Scale data

Acquisition

Summarize the data through aggregates, descriptive stats and distribution plots (histograms, density plots, boxplots, e.g.). (pandas: .value_counts, .head, .shape, .describe, .info, matplotlib.pyplot.hist, seaborn.boxplot)

Preparation
Clean the data by converting datatypes and handle missing values. (pandas: .isnull, .value_counts, .dropna, .replace)
Summarize Summarize the data through aggregates, descriptive stats and distribution plots (histograms, density plots, boxplots, e.g.). (pandas: .value_counts, .head, .shape, .describe, .info, matplotlib.pyplot.hist, seaborn.boxplot)

Split our observations into 3 samples, Train, Validate, and Test. (sklearn.model_selection.train_test_split).

Module(s) with user-defined functions for acquiring and preparing the data should be created. Each function contains a helpful docstring explaining what it does, its input(s) and output(s). Credentials (such as in an env.py file) are NOT included in the public repo.

Module(s) with functions for acquiring and preparing the data are created. Functions include useful docstrings (beyond the docstrings of functions written and shared by instructors)

You handled missing values by imputing or removing them in a logical and communicated way. You correctly handled missing values using a sound logic that was communicated via markdown documentation. You correctly used either the training data or the entire dataset to impute (given your method(s) for filling missing values).

Decisions made and reasons are communicated and documented for handling missing values. If you imputed based on a computed value (such as mean, median, etc), that was done after splitting the data, and the value was derived from the training dataset only and then imputed into all 3 datasets. If you filled missing values with 0 or a constant not derived from existing values, that can be done prior to splitting the data.

Exploration
Hypothesize: We will discuss the meaning of "drivers", variables vs. features, and the target variable. We will discuss the importance of documenting questions and hypotheses, obtaining answers for those questions, and documenting takeaways and findings at each step of exploration.

Visualize the interaction of variables, especially independent variables with the dependent variable using charts such as scatterplots, jointplots, pairgrids, and heatmaps to identify drivers.

Test Hypotheses that involve a continuous variable using t-tests and correlation tests.

Scale our numeric data so that all variables are on the same scale, such as between 0 and 1. We will discuss the importance of "scaling", different methods for scaling data, and why to use one type over another. (sklearn.preprocessing: StandardScaler, QuantileTransformer, PowerTransformer, RobustScaler, MinMaxScaler)

Data should always be split into three samples (Train, Validate, and Test) prior to exploration of variable relationships. In addition, imputers, scalers, feature elimination, and selection algorithms should all be run after the split, so they are fit on train and transform validate and test.

Your data was split into three samples before exploring the interaction of variables, imputing, scaling, or running feature elimination/selection algorithms.

If you are performing regression, clustering, or other algorithms that incorporate a distance metric (such as KNN), your features must be on the same scale when modeling. A scaler object must be fit on train and then transformed on all three datasets (train, validate, test).

Modeling
Feature Engineering: We will learn ways to identify, select, and create features through feature importance. We will discuss the "Curse of Dimensionality." (sklearn.feature_selection.f_regression).

Establish Baseline: We will learn about the importance of establishing a "baseline model" or baseline score and ways to complete this task. The baseline for regression is often computed by predicting each observation's value to be the mean or median of the dependent variable.

Build Models: We will build linear regression models. What does that mean? We will extract the patterns in the data using well established algorithms, so that we don't have to do that manually. An example of a regression algorithm is the glm (generalized linear model). The algorithm will return to us a mathematical model or function (e.g. y = 3x + 2). That function will be used to compute predictions for each observation. We will learn about the differences in the most common regression algorithms. (sklearn.linear_model)

Model Evaluation: We will compare regression models by computing evaluation metrics, i.e. metrics that measure how well a model did at predicting the target variable. (statsmodels.formula.api.ols, sklearn.metrics, math.sqrt)

Model Selection and Testing: We will learn how to select a model, and we will test the model on the unseen data sample (the out-of-sample data in the validate and then test datasets).

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env
import os

In [2]:
def get_hvac_data():
    return pd.read_csv('hvac.csv')
    return df

In [3]:
df=get_hvac_data()

In [4]:
df.head()

,Year,Region,Type,Units,AFUE,SEER,Ducted,Refrigerant,Cooling (Btu/hr),Heating (Btu/hr),MotorType,HSPF,FinalEstimate,EER,FuelType
0,2021,Northeastern,AC,33,NaN,13.0,0.0,410.0,"18,000",NaN,NaN,NaN,165,NaN,NaN
1,2021,Northeastern,AC,326,NaN,13.0,0.0,410.0,"24,000",NaN,NaN,NaN,"1,631",NaN,NaN
2,2021,Northeastern,AC,289,NaN,13.0,0.0,410.0,"30,000",NaN,NaN,NaN,"1,446",NaN,NaN
3,2021,Northeastern,AC,31,NaN,13.0,0.0,410.0,"42,000",NaN,NaN,NaN,155,NaN,NaN
4,2021,Northeastern,AC,49,NaN,13.0,0.0,410.0,"48,000",NaN,NaN,NaN,245,NaN,NaN

# Summarize the data

In [6]:
df.head()

,Year,Region,Type,Units,AFUE,SEER,Ducted,Refrigerant,Cooling (Btu/hr),Heating (Btu/hr),MotorType,HSPF,FinalEstimate,EER,FuelType
0,2021,Northeastern,AC,33,NaN,13.0,0.0,410.0,"18,000",NaN,NaN,NaN,165,NaN,NaN
1,2021,Northeastern,AC,326,NaN,13.0,0.0,410.0,"24,000",NaN,NaN,NaN,"1,631",NaN,NaN
2,2021,Northeastern,AC,289,NaN,13.0,0.0,410.0,"30,000",NaN,NaN,NaN,"1,446",NaN,NaN
3,2021,Northeastern,AC,31,NaN,13.0,0.0,410.0,"42,000",NaN,NaN,NaN,155,NaN,NaN
4,2021,Northeastern,AC,49,NaN,13.0,0.0,410.0,"48,000",NaN,NaN,NaN,245,NaN,NaN

In [7]:
df.shape

(7815, 15)

In [5]:
df.describe()

,Year,AFUE,SEER,Ducted,Refrigerant,EER
count,7815.000000,2840.000000,4776.000000,4857.000000,4845.000000,3274.000000
mean,2018.852335,88.250704,17.561139,0.437719,407.437358,11.808186
std,1.264162,5.980640,3.303248,0.496157,31.431542,1.636501
min,2017.000000,80.000000,13.000000,0.000000,22.000000,9.000000
25%,2018.000000,83.000000,15.000000,0.000000,410.000000,11.000000
50%,2019.000000,86.000000,17.000000,0.000000,410.000000,12.000000
75%,2020.000000,95.000000,20.000000,1.000000,410.000000,13.000000
max,2021.000000,99.000000,26.000000,1.000000,410.000000,20.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7815 entries, 0 to 7814
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              7815 non-null   int64
 1   Region            7815 non-null   object
 2   Type              7815 non-null   object
 3   Units             7815 non-null   object
 4   AFUE              2840 non-null   float64
 5   SEER              4776 non-null   float64
 6   Ducted            4857 non-null   float64
 7   Refrigerant       4845 non-null   float64
 8   Cooling (Btu/hr)  4854 non-null   object
 9   Heating (Btu/hr)  2919 non-null   object
 10  MotorType         1170 non-null   object
 11  HSPF              3459 non-null   object
 12  FinalEstimate     7815 non-null   object
 13  EER               3274 non-null   float64
 14  FuelType          2852 non-null   object
dtypes: float64(5), int64(1), object(9)
memory usage: 915.9+ KB

I renamed all columns for ease of use when using python and modules, and librariaes.

In [11]:
#rename the columns so they are human readable
df=df.rename(columns={'Year':'year','Region':'region','Type':'type','Units':'units','AFUE':'afue','SEER':'seer',
                      'Ducted':'ducted','Refrigerant':'refrigerant','Cooling (Btu/hr)':'cooling_btu_hr',
                      'Heating (Btu/hr)':'heating_btu_hr','MotorType':'motor_type','HSPF':'hspf',
                      'FinalEstimate':'final_estimate','EER':'eer','FuelType':'fuel_type'})

In [12]:
df.head()

,year,region,type,units,afue,seer,ducted,refrigerant,cooling_btu_hr,heating_btu_hr,motor_type,hspf,final_estimate,eer,fuel_type
0,2021,Northeastern,AC,33,NaN,13.0,0.0,410.0,"18,000",NaN,NaN,NaN,165,NaN,NaN
1,2021,Northeastern,AC,326,NaN,13.0,0.0,410.0,"24,000",NaN,NaN,NaN,"1,631",NaN,NaN
2,2021,Northeastern,AC,289,NaN,13.0,0.0,410.0,"30,000",NaN,NaN,NaN,"1,446",NaN,NaN
3,2021,Northeastern,AC,31,NaN,13.0,0.0,410.0,"42,000",NaN,NaN,NaN,155,NaN,NaN
4,2021,Northeastern,AC,49,NaN,13.0,0.0,410.0,"48,000",NaN,NaN,NaN,245,NaN,NaN

In [13]:
df.year.value_counts

<bound method IndexOpsMixin.value_counts of 0       2021
1       2021
2       2021
3       2021
4       2021
        ...
7810    2017
7811    2017
7812    2017
7813    2017
7814    2017
Name: year, Length: 7815, dtype: int64>

In [14]:
df.region.value_counts

<bound method IndexOpsMixin.value_counts of 0       Northeastern
1       Northeastern
2       Northeastern
3       Northeastern
4       Northeastern
            ...
7810              NY
7811              NY
7812              NY
7813              NY
7814              NY
Name: region, Length: 7815, dtype: object>

In [15]:
df.type.value_counts

<bound method IndexOpsMixin.value_counts of 0            AC
1            AC
2            AC
3            AC
4            AC
         ...
7810    Furnace
7811    Furnace
7812    Furnace
7813    Furnace
7814    Furnace
Name: type, Length: 7815, dtype: object>

In [16]:
df.units.value_counts

<bound method IndexOpsMixin.value_counts of 0        33
1       326
2       289
3        31
4        49
       ...
7810      1
7811     15
7812      4
7813      5
7814      8
Name: units, Length: 7815, dtype: object>

In [17]:
df.afue.value_counts

<bound method IndexOpsMixin.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
7810    90.0
7811    90.0
7812    92.0
7813    92.0
7814    92.0
Name: afue, Length: 7815, dtype: float64>

In [18]:
df.seer.value_counts

<bound method IndexOpsMixin.value_counts of 0       13.0
1       13.0
2       13.0
3       13.0
4       13.0
        ...
7810     NaN
7811     NaN
7812     NaN
7813     NaN
7814     NaN
Name: seer, Length: 7815, dtype: float64>

In [19]:
df.ducted.value_counts

<bound method IndexOpsMixin.value_counts of 0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
7810    NaN
7811    NaN
7812    NaN
7813    NaN
7814    NaN
Name: ducted, Length: 7815, dtype: float64>

In [20]:
df.refrigerant.value_counts

<bound method IndexOpsMixin.value_counts of 0       410.0
1       410.0
2       410.0
3       410.0
4       410.0
        ...
7810      NaN
7811      NaN
7812      NaN
7813      NaN
7814      NaN
Name: refrigerant, Length: 7815, dtype: float64>

In [21]:
df.cooling_btu_hr.value_counts

<bound method IndexOpsMixin.value_counts of 0       18,000
1       24,000
2       30,000
3       42,000
4       48,000
         ...
7810       NaN
7811       NaN
7812       NaN
7813       NaN
7814       NaN
Name: cooling_btu_hr, Length: 7815, dtype: object>

In [22]:
df.heating_btu_hr.value_counts

<bound method IndexOpsMixin.value_counts of 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
7810    120,000
7811    140,000
7812    100,000
7813    120,000
7814     40,000
Name: heating_btu_hr, Length: 7815, dtype: object>

In [23]:
df.motor_type.value_counts

<bound method IndexOpsMixin.value_counts of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
7810    ECM
7811    PSC
7812    NaN
7813    NaN
7814    NaN
Name: motor_type, Length: 7815, dtype: object>

In [24]:
df.hspf.value_counts

<bound method IndexOpsMixin.value_counts of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
7810    NaN
7811    NaN
7812    NaN
7813    NaN
7814    NaN
Name: hspf, Length: 7815, dtype: object>

In [25]:
df.final_estimate.value_counts

<bound method IndexOpsMixin.value_counts of 0               165
1             1,631
2             1,446
3               155
4               245
           ...
7810     6.67184381
7811    100.0776571
7812    26.68737524
7813    33.35921905
7814    53.37475048
Name: final_estimate, Length: 7815, dtype: object>

In [26]:
df.eer.value_counts

<bound method IndexOpsMixin.value_counts of 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7810   NaN
7811   NaN
7812   NaN
7813   NaN
7814   NaN
Name: eer, Length: 7815, dtype: float64>

In [27]:
df.fuel_type.value_counts

<bound method IndexOpsMixin.value_counts of 0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
           ...
7810    Natural Gas
7811            Oil
7812    Natural Gas
7813    Natural Gas
7814    Natural Gas
Name: fuel_type, Length: 7815, dtype: object>

In [29]:
df.year.unique()

array([2021, 2018, 2020, 2019, 2017])

In [30]:
df.region.unique()

array(['Northeastern', 'NY'], dtype=object)

In [31]:
df.type.unique()

array(['AC', 'Furnace', 'ASHP', 'Boiler', 'GEU'], dtype=object)

In [32]:
df.units.unique()

array(['33', '326', '289', '31', '49', '28', '2', '3', '16', '20', '19',
       '25', '11', '9', '61', '99', '150', '208', '37', '5', '1', '55',
       '82', '94', '129', '618', '2,112', '1,842', '2,471', '695', '991',
       '590', '263', '469', '572', '694', '231', '211', '120', '118',
       '267', '726', '692', '733', '276', '376', '207', '7', '10', '4',
       '0', '22', '29', '56', '168', '75', '30', '38', '8', '45', '6',
       '17', '87', '114', '843', '12', '362', '187', '15', '136', '117',
       '226', '27', '42', '255', '1,753', '50', '372', '46', '293', '-2',
       '259', '143', '51', '173', '552', '554', '60', '212', '728', '73',
       '152', '206', '128', '63', '1,562', '182', '74', '111', '43',
       '393', '180', '113', '2,369', '84', '575', '112', '85', '58',
       '163', '81', '760', '327', '159', '237', '337', '503', '310', '34',
       '161', '64', '368', '24', '459', '184', '156', '23', '361', '405',
       '216', '53', '21', '35', '14', '13', '-1', '44', '57', '484',
       '659', '248', '544', '40', '431', '601', '54', '234', '68', '47',
       '18', '153', '166', '389', '145', '201', '125', '59', '39', '229',
       '121', '119', '97', '329', '71', '36', '566', '157', '72', '355',
       '41', '1,029', '67', '1,522', '123', '1,244', '104', '62', '65',
       '32', '-3', '48', '1,410', '5,214', '4,314', '4,628', '1,606',
       '1,209', '262', '870', '131', '260', '976', '108', '258', '155',
       '438', '454', '546', '183', '1,438', '1,283', '1,224', '555',
       '851', '342', '26', '79', '251', '88', '80', '343', '626', '154',
       '995', '91', '107', '296', '86', '298', '70', '280', '132', '103',
       '138', '76', '102', '193', '387', '194', '109', '171', '66', '660',
       '202', '176', '92', '309', '141', '1,050', '1,538', '564', '542',
       '982', '164', '140', '105', '597', '759', '802', '690', '403',
       '52', '223', '77', '95', '146', '101', '364', '69', '311', '378',
       '746', '195', '519', '399', '151', '336', '179', '334', '960',
       '715', '396', '401', '299', '133', '550', '235', '174', '906',
       '167', '160', '930', '420', '838', '273', '115', '1,676', '3,085',
       '215', '2,441', '321', '199', '93', '1,173', '2,277', '3,057',
       '1,452', '485', '283', '633', '696', '528', '787', '674', '871',
       '400', '478', '144', '1,081', '89', '83', '435', '426', '189',
       '377', '1,139', '1,368', '714', '232', '578', '241', '279', '122',
       '188', '295', '848', '142', '1,031', '90', '78', '245', '271',
       '158', '124', '257', '272', '331', '371', '743', '1,392', '1,041',
       '1,262', '4,656', '5,299', '2,900', '1,069', '1,038', '264', '778',
       '1,109', '463', '506', '954', '890', '468', '671', '286', '341',
       '300', '210', '213', '587', '148', '130', '165', '1,236', '100',
       '480', '209', '228', '116', '239', '139', '106', '261', '169',
       '1,955', '352', '98', '219', '504', '340', '819', '227', '349',
       '444', '224', '653', '374', '686', '713', '345', '275', '1,325',
       '2,600', '1,910', '268', '217', '383', '1,107', '1,682', '591',
       '407', '190', '424', '817', '621', '775', '240', '172', '269',
       '443', '302', '325', '285', '942', '935', '700', '375', '395',
       '515', '392', '1,078', '344', '356', '149', '999', '1,969',
       '1,821', '1,551', '474', '316', '791', '265', '252', '127', '205',
       '178', '411', '147', '559', '181', '170', '203', '238', '186',
       '520', '385', '493', '613', '428', '315', '126', '243', '306',
       '192', '801', '756', '247', '96', '196', '447', '616', '567',
       '191', '427', '1,460', '353', '317', '917', '553', '825', '465',
       '1,023', '772', '2,395', '3,839', '3,680', '678', '266', '414',
       '236', '464', '412', '366', '134', '602', '529', '923', '294',
       '1,163', '697', '524', '458', '406', '2,824', '502', '332', '277',
       '204', '162', '1,260', '1,530', '600', '864', '135', '417',
       '1,534', '386', '397', '740', '305', '539', '901', '637', '1,839',
       '333', '402', '1,210', '249', '323', '384', '573', '691', '270',
       '253', '965', '810', '2,153', '1,106', '312', '627', '1,826',
       '908', '1,604', '218', '320', '745', '246', '200', '390', '509',
       '766', '416', '379', '762', '779', '462', '346', '197', '254',
       '904', '488', '522', '324', '339', '137', '350', '363', '818',
       '576', '297', '409', '481', '585', '866', '1,143', '351', '1,642',
       '175', '3,645', '1,855', '670', '3,237', '380', '244', '500',
       '603', '233', '482', '313', '483', '274', '242', '419', '256',
       '479', '1,312', '526', '636', '679', '1,025', '705', '790',
       '1,241', '1,110', '2,524', '755', '225', '1,277', '3,339', '2,640',
       '648', '441', '1,367', '3,259', '1,321', '357', '833', '716',
       '1,499', '1,065', '1,130', '1,496', '604', '718', '1,121', '508',
       '185', '540', '381', '588', '609', '1,122', '338', '307', '177',
       '859', '1,087', '470', '1,043', '773', '290', '1,289', '654',
       '367', '1,469', '442', '457', '584', '723', '606', '1,747',
       '3,501', '642', '792', '4,158', '1,999', '110', '214', '330',
       '278', '518', '938', '1,261', '969', '811', '1,362', '1,494',
       '2,991', '230', '672', '950', '921', '1,897', '676', '844'],
      dtype=object)

In [33]:
df.afue.unique()

array([nan, 83., 92., 80., 81., 82., 84., 85., 86., 87., 90., 91., 93.,
       94., 95., 96., 97., 98., 88., 89., 99.])

In [34]:
df.seer.unique()

array([13., 14., 15., 16., 17., 18., 20., 22., 23., 19., nan, 21., 24.,
       25., 26.])

In [35]:
df.ducted.unique()

array([ 0.,  1., nan])

In [36]:
df.refrigerant.unique()

array([410.,  nan,  22.])

In [37]:
df.cooling_btu_hr.unique()

array(['18,000', '24,000', '30,000', '42,000', '48,000', '60,000',
       '36,000', '12,000', nan, '6,000', '54,000', '72,000'], dtype=object)

In [38]:
df.heating_btu_hr.unique()

array([nan, '60,000', '40,000', '120,000', '80,000', '100,000', '140,000',
       '160,000', '20,000'], dtype=object)

In [39]:
df.motor_type.unique()

array([nan, 'PSC', 'ECM'], dtype=object)

In [40]:
df.hspf.unique()

array([nan, '7.70-8.19', '8.50-8.99', '8.20-8.49', '10.00-10.49',
       '11.00+', '9.00-9.49', '9.50-9.99', '10.50-10.99'], dtype=object)

In [41]:
df.final_estimate.unique()

array(['165', '1,631', '1,446', ..., '1,687.98', '146.7805638',
       '173.467939'], dtype=object)

In [42]:
df.eer.unique()

array([nan,  9., 12., 20., 10., 11., 13., 14., 15., 16., 18., 19.])

In [43]:
df.fuel_type.unique()

array([nan, 'Oil', 'Natural Gas'], dtype=object)

### I noticed that a few columns need the data type changed to int64, float64, or object:
3   units  int64
7   refrigerant object
8   cooling_btu_hr)int64
9   heating_btu_hr)int64
12  FinalEstimateint64
11  HSPFfloat64

In [ ]:
# update datatypes of binned values to be float
df = df.astype({'sqft_bin': 'float64', 'acres_bin': 'float64', 'age_bin': 'float64',
                    'structure_dollar_sqft_bin': 'float64', 'lot_dollar_sqft_bin': 'float64'})

### I noticed that encoding was needed:
1   Region            7815 non-null   object 
2   Type              7815 non-null   object
7   Refrigerant       4845 non-null   float64
10  MotorType         1170 non-null   object
14  FuelType          2852 non-null   object

# Convert binary categorical variables to numeric
    df['fips_encoded'] = df.fips.map({6037:1, 6059:2, 6111:3})

### I noticed that HSPF needed to be binned due to ranges cells.
11  HSPF              3459 non-null   object





def create_features(df):
    df['age'] = 2017 - df.yearbuilt
    df['age_bin'] = pd.cut(df.age, 
                           bins = [0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140],
                           labels = [0, .066, .133, .20, .266, .333, .40, .466, .533, 
                                     .60, .666, .733, .8, .866, .933])

In [ ]:
def get_counties():
    '''
    This function will create dummy variables out of the original fips column. 
    And return a dataframe with all of the original columns except regionidcounty.
    We will keep fips column for data validation after making changes. 
    New columns added will be 'LA', 'Orange', and 'Ventura' which are boolean 
    The fips ids are renamed to be the name of the county each represents. 
    '''
    # create dummy vars of fips id
    county_df = pd.get_dummies(df.fips)
    # rename columns by actual county name
    county_df.columns = ['LA', 'Orange', 'Ventura']
    # concatenate the dataframe with the 3 county columns to the original dataframe
    df_dummies = pd.concat([df, county_df], axis = 1)
    # drop regionidcounty and fips columns
    df_dummies = df_dummies.drop(columns = ['regionidcounty'])
    return df_dummies

In [ ]:
# Convert binary categorical variables to numeric
    df['fips_encoded'] = df.fips.map({6037:1, 6059:2, 6111:3})

Summarize the data through aggregates, descriptive stats and distribution plots (histograms, density plots, boxplots, e.g.). (pandas: .value_counts, .head, .shape, .describe, .info, matplotlib.pyplot.hist, seaborn.boxplot)

In [ ]:
def wrangle_hvac():
    '''
    Read hvac into a pandas DataFrame from csv saved on desktop,
    replace whitespaces with NaN values,
    return cleaned student grades DataFrame.
    '''

    # Acquire data

    hvac = get_hvac_data()

    # Replace white space values with NaN values.
    hvac = hvac.replace(r'^\s*$', np.nan, regex=True)

    return df